.clickable {
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}

#initial-hidden {
  display: none;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.green-background {
  background-color: green;
}

.inverse-colors {
  color: white;
  background-color: darkblue;
}

.highlighted {
  border-style: groove;
  border-color: gold;
  background-color: lightyellow;
}

.animal {
  max-width: 100%;
  vertical-align: bottom;
}
